<% if @chat %>
<%= turbo_stream_from @chat %>
<% end %>
<div class="dashboard">
    <div class='pt-4'>
      <h3>My Chats:</h3>
      <div class="chat-list-container">
        <% if @chats.any? %>
          <ul>
            <% @chats.each do |chat| %>
              <li><%= link_to chat.title, dashboard_path(chat_id:chat.id) %></li>
            <% end %>
          </ul>
        <% else %>
          <p class='my-5'>There are no chats yet.</p>
        <% end %>
        <%= button_to "New Chat", chats_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <% if @chat %>
      <div class="bg-white p-4">
        <h1 id="chat_title" class="mb-4"><%= @chat.title %></h1>
        <div id="messages">
          <%= render @chat.messages %>
        </div>

        <div id="new_message_container">
          <%= render "messages/form", chat: @chat, message: @message %>
        </div>
      </div>
    <% end %>
    <div></div>
    <div>
      <%= link_to "delete chat", chat_path(@chat), class: 'delete-chat',  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if @chat%>
    </div>


</div>
