<div class="container mt-3 mb-5">
<h1 class="text-center p-3"> Edit </h1>
<%= simple_form_for (@resume) do |f| %>
  <%= f.input :name %>
  <%= f.input :education %>
  <%= f.input :languages %>
  <%= f.input :main_tech_skill %>
  <%= f.input :secondary_tech_skills %>
  <%= f.input :soft_skills %>
  <%= f.input :work_experiences %>
  <%= f.input :years_of_experience %>
  <%= f.submit "Submit Resume" %>
<% end %>
</div>
