<div class='btns-resume'>
  <div>
    <%= link_to "Create new resume", new_resume_path, class: "btn btn-primary ms-3" %>
  </div>

<% if @resume %>
  <div>
    <%= link_to "Edit Resume", edit_resume_path(@resume), class: 'btn btn-primary me-2' %>
    <%= link_to "Delete Resume", resume_path(@resume), class: 'btn btn-outline-danger me-3',  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  </div>
</div>


<h1 class="text-center p-3"><%= @resume.name %></h1>

<div class="resume-with-list  position-relative" data-controller="toggle">

  <div>
    <div class="sidebar" data-toggle-target="hideable">
      <nav class="pt-1 p-4">
        <%= link_to "#", class: "nav-link text-dark mb-2",
          data: { action: "click->toggle#call", toggle_target: "icon" } do %>
           <i class="fa-solid fa-chevron-right mb-3"></i>
        <% end %>
        <%= render "shared/sidenav", resumes: @resumes %>
      </nav>
    </div>
  </div>

  <div class="dynamic-stretch">
    <div class="card-product">
      <div class="card-product-infos">
        <%= link_to "#", class: "nav-link text-dark d-none",
            data: { action: "click->toggle#call", toggle_target: "icon" } do %>
          <i class="fa-solid fa-chevron-left mb-3"></i>
        <% end %>
        <h2>Education:</h2>
        <%= raw(render_markdown(@resume.education)) %>
        <h2>Languages:</h2>
        <p><%= @resume.languages %></p>
        <h2>Main tech skill:</h2>
        <p><%= @resume.main_tech_skill %></p>
        <h2>Secondary tech skill:</h2>
        <p><%= @resume.secondary_tech_skills %></p>
        <h2>Soft skills:</h2>
        <p><%= @resume.soft_skills %></p>
        <h2>Work experiences:</h2>
        <%= raw(render_markdown(@resume.work_experiences)) %>
        <h2>Years of experience:</h2>
        <p><%= @resume.years_of_experience %> years</p>
      </div>
    </div>
  </div>
</div>
<% end %>
