<div class="resume-page">
  <h1>Create your resume</h1>

  <%= simple_form_for @resume do |f| %>
    <div class="resume-form">

      <%= f.input :name %>
      <%= f.input :education %>
      <%= f.input :languages %>
      <%= f.input :main_tech_skill %>
      <%= f.input :secondary_tech_skills %>
      <%= f.input :soft_skills %>
      <%= f.input :work_experiences %>
      <%= f.input :years_of_experience %>

    </div>

    <button class="resume-submit-btn">Submit Resume</button>
  <% end %>
</div>

<% if @resume.errors.any? %>
  <div class="alert alert-danger mt-3">
    <strong><%= pluralize(@resume.errors.count, "error") %> prevented this resume from being saved:</strong>
    <ul>
      <% @resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
